### SublimeText ###
# Workspace files are user-specific.
*.sublime-workspace

# Project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText.
*.sublime-project

# Plugin specific settings aren't necessary
settings.sublime-javac


### Tomcat ###
# Ant build files
build.properties
build.xml


### Codekit ###
*.codekit


### Sass ###
.sass-cache

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
# *.jar
# *.war
# *.ear

# Virtual Machine crash logs. See http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse
fontawesome-webfont.eot
fontawesome-webfont.svg
fontawesome-webfont.ttf
fontawesome-webfont.woff
FontAwesome.otf
thin-icons.ttf
logo.svg
main.css
_helpers.scss
_mixins.scss
_variables.scss
main.scss
_buttons.scss
_forms.scss
_icons.scss
_ie.scss
_layout.scss
_media.scss
_notifications.scss
_other.scss
_print.scss
_shame.scss
_toolbox.scss
_typography.scss
_normalize.scss
index.jsp
MANIFEST.MF
articles.xml
authors.xml
AccountAction.java
Action.java
ActionFactory.java
ArticleAction.java
ArticleDeleteAction.java
ArticleNewAction.java
AuthorAction.java
DefaultAction.java
IndexAction.java
LoginAction.java
LogoutAction.java
RegisterAction.java
LoginFilter.java
RequestMediator.java
AuthorConverter.java
SchemaConverter.java
ArticleDAO.java
ArticleDAOImpl.java
AuthorDAO.java
AuthorDAOImpl.java
Article.java
Author.java
LoremIpsum.java
ArticleService.java
ArticleListMessageBodyWriter.java
Articles.java
ArticlesClient.java
ArticlesPortBindingStub.java
ArticlesProxy.java
ArticlesService.java
ArticlesServiceLocator.java
footer.jspf
header.jspf
asm-3.3.1.jar
axis.jar
javax.servlet.jsp.jstl-1.2.1.jar
javax.servlet.jsp.jstl-api-1.2.1.jar
jaxrpc.jar
jersey-bundle-1.17.jar
xstream-1.4.7.jar
articles.xsd
authors.xsd
sun-jaxws.xml
404.jsp
account.jsp
article.jsp
articlenew.jsp
author.jsp
login.jsp
register.jsp
web.xml
article.xsl
articles.xsl
author.xsl
DesertSnow-source.war
DesertSnow.war
allclasses-frame.html
allclasses-noframe.html
constant-values.html
deprecated-list.html
help-doc.html
index-all.html
index.html
overview-frame.html
overview-summary.html
overview-tree.html
package-list
script.js
serialized-form.html
stylesheet.css
AccountAction.html
Action.html
ActionFactory.html
ArticleAction.html
ArticleDeleteAction.html
ArticleNewAction.html
AuthorAction.html
DefaultAction.html
IndexAction.html
LoginAction.html
LogoutAction.html
package-frame.html
package-summary.html
package-tree.html
RegisterAction.html
LoginFilter.html
RequestMediator.html
AuthorConverter.html
SchemaConverter.html
ArticleDAO.html
ArticleDAOImpl.html
AuthorDAO.html
AuthorDAOImpl.html
Article.html
Author.html
LoremIpsum.html
ArticleService.html
ArticleListMessageBodyWriter.html
Articles.html
ArticlesClient.html
ArticlesPortBindingStub.html
ArticlesProxy.html
ArticlesService.html
ArticlesServiceLocator.html
