html, body {
    overflow-x: hidden; // For full-width header
}

.page-wrap {
    width: 85%;
    max-width: 700px;
    margin: 0 auto;
}

.page-title {
    display: none; // Semantics
}

header {
    @extend %clearfix;
    position: relative;
    margin: 0 -100%;
    padding: 20px 100%;
    background: $primary-color;

    .logo {
        display: block;
        float: left;
        height: 4rem;

        svg.logo {
            height: 4rem; // 64px;
            width: 9rem; // 200px;
        }

        svg.logo:hover {
            color: rgba(255,255,255,0.75);
        }
    }
}

.user-actions {
    float: right;
    height: 4rem;
    font-size: 0.85rem;

    .user-toggle {
        display: inline-block;
        position: relative;

        &:hover .dropdown {
            opacity: 1;
            visibility: visible;
        }

        &:hover .user {
            background: white;
            color: $primary-color;
        }
    }

    .dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: $primary-color;
        color: white;
        list-style: none;
        width: 100%;
        right: 0;
        top: 63px;
        padding: 29px 0 0;
        margin: 0;
        border-bottom-right-radius: $btn-br;
        border-bottom-left-radius: $btn-br;
        line-height: 1;
        transition: opacity .2s linear;

        a {
            display: block;
            padding: 1em;
            width: 100%;
            margin: 0;
            color: white;

            &:hover {
                background: rgba(255,255,255,0.25);
            }
        }
    }

    .btn {
        margin: 0.5rem 0 0 0;
        padding: 0 1rem;
        line-height: 3rem;
        height: 3rem;
        float: right;

        &.write {
            background: white;
            color: $primary-color;
            margin-left: 1rem;
        }

        &.user {
            border: none;
        }

        [class^="icon-"] {
            margin-left: 7px;
        }
    }
}

section {
    @extend %clearfix;
    padding: $padding 0;
}

article {
    @extend %clearfix;

    .excerpt {
        font-size: 1.5em;
        margin: 0 0 0.5em;
        line-height: 1.5;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.article-excerpt {
    border-bottom: 1px solid #eee;
    padding-bottom: $padding;
    margin-bottom: $padding;

    .excerpt {
        margin-bottom: 1em;
    }

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.meta-block {
    border-top: 1px solid #eee;
    font-size: 14px;
    margin: 1em 0;

    .meta {
        font-size: 0.85em;
    }

    .meta-header {
        @extend .meta;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        margin: 1em 0;
    }

    &.half {
        width: 50%;
        float: left;
        padding: 0 $padding 0 0;

        @include breakpoint(baby-bear) {
            width: 100%;
            padding: 0;
        }
         
    }
}

.login, .register {
    width: 25rem;
    max-width: 100%;
    margin: 0 auto;
}

footer {
    @extend %clearfix;

    padding: $padding 0;
    font-size: 0.85rem;
    background: #eee;

    ul.footer-nav {
        list-style: none;
        padding: 0;
        margin: 0;

        width: 20%;
        float: left;

        li {
            font-weight: 600;
        }

        a {
            font-weight: 300;
            color: inherit;
        }
    }

    .copyright {
        float: right;
    }
}