<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <display-name>Desert Snow</display-name>
  
  <!-- Maps RequestMediator to the applicable controller -->
  <servlet>
    <servlet-name>RequestMediator</servlet-name>
    <servlet-class>uts.wsd.controller.RequestMediator</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- The following URL patterns are sent to the RequestMediator -->
  <servlet-mapping>
    <servlet-name>RequestMediator</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/account</url-pattern>
    <url-pattern>/article</url-pattern>
    <url-pattern>/article/new</url-pattern>
    <url-pattern>/article/delete</url-pattern>
    <url-pattern>/author</url-pattern>
  </servlet-mapping>

  <!-- Allows the root url to forward to /index automagically -->
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <!-- Maps LoginFilter to the applicable controller filter -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>uts.wsd.controller.LoginFilter</filter-class>
  </filter>

  <!-- Any request to RequestMediator will be filtered by LoginFilter -->
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>RequestMediator</servlet-name>
  </filter-mapping>

  <!-- Maps the REST Web Services -->
  <servlet>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>uts.wsd.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!-- SOAP Listener -->
  <listener>
    <listener-class>
      com.sun.xml.ws.transport.http.servlet.WSServletContextListener
    </listener-class>
  </listener>
  
  <!-- Maps the SOAP Web Services -->
  <servlet>
    <servlet-name>SOAP Web Services</servlet-name>
    <servlet-class>
      com.sun.xml.ws.transport.http.servlet.WSServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SOAP Web Services</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  
  <!-- Specifies the 404 Page -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/404.jsp</location>
  </error-page>
  
  <!-- Every request to a page in /WEB-INF/view/* will get a header and footer -->
  <jsp-config>
    <jsp-property-group>
      <description>Header and Footer Settings</description>
      <url-pattern>/WEB-INF/view/*</url-pattern>
      <include-prelude>/WEB-INF/includes/header.jspf</include-prelude>
      <include-coda>/WEB-INF/includes/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>

  <!-- Session Config -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

</web-app>