<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <display-name>Desert Snow</display-name>
  
  <servlet>
    <servlet-name>RequestMediator</servlet-name>
    <servlet-class>uts.wsd.controller.RequestMediator</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RequestMediator</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/account</url-pattern>
    <url-pattern>/article</url-pattern>
    <url-pattern>/article/new</url-pattern>
    <url-pattern>/article/delete</url-pattern>
    <url-pattern>/author</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>uts.wsd.controller.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>RequestMediator</servlet-name>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <jsp-config>
    <jsp-property-group>
      <description>Header and Footer Settings</description>
      <url-pattern>/WEB-INF/view/*</url-pattern>
      <include-prelude>/WEB-INF/includes/header.jspf</include-prelude>
      <include-coda>/WEB-INF/includes/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>

</web-app>